body{
    background-color: blanchedalmond;
}
img{
    width: 300px;
}
header{
    background-color: aqua;
}
main{
    background-color: blue;
}
footer{
    background-color: blueviolet;
}
.flex-container{
    display: flex;
    flex-direction: column;
}